.recommand-list {
    .hide {
        display: none;
    }
    width: 100%;
    padding: 0;
    .recommand-full-list-block {
        height: 200px;
        overflow: hidden;
    }
    .recommand-full-list {
        &::-webkit-scrollbar {
            width: 0 !important;
        }
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;

        padding: 0;

        flex-direction: row;
        position: relative;
        max-width: 100%;

        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        .block {
            .image {
                border-radius: 15px;
            }
            padding: 5px;
        }
    }
    .headline {
        width: fit-content;
        text-align: left;
        padding: 10px;
        font-size: 2em;
        padding-left: 20px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        color: grey;
        text-shadow: 2px 2px 2px black;
    }
    .app-name {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .text {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        height: 42px;
        max-width: 100px;
    }

    img {
        // &:nth-child(odd),
        &.odd {
            border-radius: 15px;
        }
        // &:nth-child(even),
        &.even {
            border-radius: 50%;
        }
    }
}
